<template>

  <div class="grid-container">
    <div class="room-list card ">
        <div>
        <input type="text" placeholder="input room name" v-model="newRoomName"><button class="button is-small" @click="RoomCreateHandler(newRoomName)">create room</button>
        </div>
        <div class="rooms">
            <nav class="panel">
                <p class="panel-heading">
                    Room List
                </p>
                <a v-for="room in rooms" :key="room.key" class="panel-block"  @click="roomJoin(room)">
                    <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    {{ room.name }}
                </a>
            </nav>
            
        </div>
    </div>

    <div class="chat-window card">
        <div class="room-title">
            <transition name="fade"><h2 v-if="roomName" id="current-room" class="is-medium tag"><span class="has-text-weight-semibold"> {{ roomName }} </span><button class="button is-small exit-button" @click="roomExit">room exit</button></h2></transition>
        </div>
        <div class="chat-window-messages" ref="messages">
            <div class="chat-display">
                <transition-group name="demo" tag="div" class="list" appear>
                <transition-group name="demo" tag="div" appear>
                    <section v-for="{ key, message,index,id} in chat" :key="id">
                        <div class="card message" id="item-message">
                            <div class="message-name">
                                {{ myName }} 
                            </div>
                            <div>
                                {{ message }}
                            </div>
                        </div>
                    </section>
                </transition-group>
                <div v-html="video"></div>
            </div>
        </div>
        <div>
            <transition name="fade">
                <div v-if="roomId" class="chat-input">
                    <div class="request_video_box">
                        <input type="text" class="input video_input" v-model="videoUrl"><button class="button is-small" @click="SetVideo(videoUrl)">request video</button>
                    </div>
                    <div>
                        <textarea class="textarea chat_input" type="text" v-model="myMessage"></textarea>
                        <div class="chat_send_box">
                            <button class="button chat_send_button" @click="sendChatHandler(myMessage)">sendChat</button>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
  </div>

</template>

 <script lang="ts">
    import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator';
    import roomList from '@/components/RoomList.vue'; // @ is an alias to /src
    // import chatWindow from '@/components/ChatWindow.vue'; // @ is an alias to /src
    import firebase from 'firebase';

    @Component
    export default class RoomList extends Vue{
        chat:Array<object> = [];
        rooms:Array<object> = [];
        roomName:string="";
        roomId:string = "";
        myName='myName';
        myMessage:string="";
        newRoomName:string='';
        video:string="";
        videoId:string="";
        videoHeight:number=0;
        videoWidth:number=0;
        videoUrl:string="";

        videoObj={
            id:"",
            type:"",
            height:0,
            width:0,
            url:"",
        }

        mounted() : void {
            const ref_room = firebase.database().ref('rooms');

            ref_room.limitToLast(10).on('child_added', this.roomAdded)

            window.addEventListener('resize',this.SetYoutubeWindow,false)
        }

        @Watch('roomId')
        onValueChange(newValue: string, oldValue: string): void {
            console.log("roomId changed")

        }

        // @Watch('videoObj')
        // onVideoUpdate(newValue: string, oldValue: string): void {
        //     console.log(newValue);

        // }

        sendChatHandler(myMessage:string):void{
            if (!this.roomId)
            {
                console.log('roomId is not found');
                return;
            }
            firebase.database().ref('rooms/'+this.roomId+'/messages').push({
                userName:this.myName,
                userImage:'image',
                message:myMessage,
            })
                console.log('chat was sent')
        }

        RoomCreateHandler(newRoomName:string):void{
            const pushKey:any = firebase.database().ref('rooms').push({
                name: newRoomName,
                capacity: 5,
            }, () => {

            }).key;
        }

        roomAdded(snap:any):void{
            const room = snap.val()
            this.rooms.push({
                key: snap.key,
                name: room.name,
                password: room.password,
            })
            console.log(snap.key);
        }

        messageAdded(snap:any):void{
            const messageObj = snap.val();
            this.chat.push({
                id:this.chat.length,
                key: snap.key,
                message: messageObj.message,
                userName: messageObj.userName,
                userImage: messageObj.userImage
            })
            this.scrollBottom();
        }

        scrollBottom():void {
                  console.log("called scroll")

            this.$nextTick(() => {
                let container:any = this.$el.querySelector(".chat-window-messages");
                // let tmp = chatWindow
                container.scrollTo(0, document.body.clientHeight)
            })
        }
        
        roomJoin(room:any):void{
            if(this.roomId)
            {
                console.log('already joined room')
                return;
            }
            
            // 部屋に名前を追加
            firebase.database().ref('rooms/'+room.key+'/members').push({userName:this.myName});

            // keyを格納
            this.roomId = room.key;
            this.roomName = room.name;

            const ref_video = firebase.database().ref('rooms/'+ this.roomId+'/video');
            ref_video.limitToLast(1).on('child_added', this.ChangeVideoInChat);
            const ref_message = firebase.database().ref('rooms/'+ this.roomId+'/messages');
            ref_message.limitToLast(10).on('child_added', this.messageAdded);

            console.log("room joined "+this.roomName);
            
        }

        roomExit():void{
            if(!this.roomId)
            {
                console.log("room not joined");
                return;
            }

            const ref = firebase.database().ref('rooms/'+this.roomId+'/members');
            ref.orderByChild('userName').equalTo(this.myName).once("child_added",function(snap:any){
                if(!snap.val())
                {
                    console.log("my name not exist in room");
                    return;
                }
                else
                {
                    console.log(snap.key);
                    ref.child(snap.key).remove();
                }
            });

            firebase.database().ref('rooms/'+ this.roomId+'/video').limitToLast(1).off('child_added',this.ChangeVideoInChat);

            firebase.database().ref('rooms/'+ this.roomId+'/messages').limitToLast(10).off('child_added',this.messageAdded);

            this.roomName = '';
            this.roomId = '';
            this.video = '';
            this.chat = [];
        }

        SetVideo(url:string):void{
            if (!this.roomId){return;}
            let isLive:boolean = false;
            let videoId:string = "";
            let webSight:string="";

            videoId = url.split('?v=')[1].split('&')[0];
            if (url.indexOf('youtube'))
            {
                firebase.database().ref('rooms/'+this.roomId+'/video').push({
                    webSight:"youtube",
                    videoId:videoId,
                    isLive:true
                });
                
                return;
            }

        }

        ChangeVideoInChat(snap:any):void{
            const video = snap.val();
            console.log(video.videoId);
            this.videoId = video.videoId;

            
            if(video.type="youtube")
            {
                this.video = '<iframe class="video" width="560" height="315" src="' + 'https://www.youtube.com/embed/' + video.videoId + '?autoplay=1' + '" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>'
            }

            console.log("video set");
       }

        SetYoutubeWindow():void{
            
            if (window.innerWidth>1080)
            {
                document.getElementsByClassName('video')[0].setAttribute('width',"560");
                document.getElementsByClassName('video')[0].setAttribute('height',"315");
                return;
            }

            if (window.innerWidth<880)
            {
                document.getElementsByClassName('video')[0].setAttribute('width',"320");
                document.getElementsByClassName('video')[0].setAttribute('height',"180");
                return;
            }

            document.getElementsByClassName('video')[0].setAttribute('width',(window.innerWidth - 560).toString());
            document.getElementsByClassName('video')[0].setAttribute('height',((window.innerWidth - 560)/1.78).toString());
        }
    }

</script>

<style>
    *{
        margin: 0;
    }
    ul{
        list-style: none;
    }

    .grid-container{
        display: grid;
        grid-template-areas: 
            "room-list chat-window";
        grid-template-columns: 150px 1fr;
        grid-template-rows: 800px;
        margin: 4px;
    }

    .room-list{
        grid-area: room-list;
    }
    
    .panel-heading{
        padding: 0.2em;
        font-size: 1em;
    }

    .panel-block{
        height: 25px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8em;
    }

    .rooms{
        margin-top: 10px;
    }

    .rooms ul{
        padding-left: 5px;
        padding-bottom: 3px;
    }

    .rooms li{
        display: flex;
        justify-content: space-between;
    }

    .chat-window{
        margin-left: 6px;
        grid-area: chat-window;
        position: relative;
    }

    .video{
        position: absolute;
        top: 100px;
        margin: 0 auto;
        transform: translateX(10%);
    }

    .video_input{
        height: 27px;
    }

    .chat-input{
        height: 160px;
    }

    .chat-window-messages{
        height: 550px;
        overflow: scroll;
    }

    .chat-display{
        display: flex;
    }

    .request_video_box{
        display: flex;
        position: absolute;
        right: 24px;
        bottom: 204px;
    }

    .chat_send_button{
        text-align: right;
        right: 10px;
    }

    .chat-window-messages::-webkit-scrollbar{
    display:none;
}

    .room-title{
        margin: 10px 4px;
        position: absolute;
        right: 10px;
        transition: 0.5s;
    }

    #currnet-room{
        margin: 4px;
    }

    .exit-button{
        margin-left: 4px;
    }

    #chat-input-window{
        min-width: 0;
        max-width: 90%;
        margin: 5px auto;
        resize: none;
    }

    .message-name {
        text-align: left;
        font-size: 75%;
    }

    #item-message{
        margin: 10px;
        max-width: 250px;
        width: 250px;
        height: 70px;
        word-break:break-all;
        overflow: hidden;
        padding: 3px;
        background: white;
        transition: 0.3s;
        z-index: 5;
    }

    .chat_send_box{
        margin: 4px;
        position: absolute;
        right: 10px;
    }

    .chat-input{
        /* position: absolute; */
        /* bottom: 30px; */

        min-width: 0%;
        width: 95%;
        margin: 50px auto;
    }

    .chat-input > input{
        width: 90%;
    }

    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
    opacity: 0;
    }

    .demo-enter-active, .demo-leave-active {
        transition: all 0.5s;
    }
    
    .demo-enter{
        opacity: 0;
        transform: translateX(30px);
    }

    .demo-leave-to{
        opacity: 0;
    }
</style>